[submodule "slop"]
	path = slop
	url = https://github.com/naelstrof/slop.git
[submodule "maim"]
	path = maim
	url = https://github.com/naelstrof/maim.git
[submodule "wl-clipboard"]
	path = wl-clipboard
	url = https://github.com/bugaevc/wl-clipboard.git
